

body{
    margin: 0;
}

.hero {
    width: 97,5%;
    height: 78vh;
    background-image: url("kepek/live.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding: 20px;
}

.hero h1 {
    margin: 0;
    color: white;
    font-size: 4em;
}


table tr td img{
    width: 100%;
}

table tr td {
width: 55vw;
}

.mtv{
background-image: url(kepek/mtv\ awards.jpg);
height: 929px;
margin: 0%;
background-size: cover;
background-position-x: center     ;
background-position-y: center;
padding: 20px;
}
.mtv h1{
color: white;
}

.inf{
background-image: url(kepek/universe.png); 
height: 929px;
margin: 0%;
background-size: auto;
background-position-x: center     ;
background-position-y: center;
padding: 20px;
}
.inf h1{
    color: white;
}

.inf a{
    line-height: 200%;
}

.mtv a{
    line-height: 220%;
}

.mmlp1{
   background-image: url(kepek/haz.jpg);
   height: 929px;
   margin: 0%;
   background-size: cover;
   background-position-x: center     ;
   background-position-y: center;
   padding: 20px;
   }
    
.mmlp1 h1 {
color: white;
}

.mmlp1 a{
    line-height: 220%;
}

.tems{
    background-image: url(kepek/thems.jpg);
   height: 929px;
   margin: 0%;
   background-size: cover;
   background-position-x: center     ;
   background-position-y: center;
   padding: 20px;
}

.tems h1{
    color: white;
}
.tems a{
    line-height: 195%;
}

.enc{
    background-image: url(kepek/enc.jpg);
    height: 929px;
    margin: 0%;
    background-size: cover;
    background-position-x: center     ;
    background-position-y: center;
    padding: 20px;
}

.enc h1{
    color: white;
}

.enc a{
    line-height: 185%;
}