

body{
    margin: 0;
}

.hero {
    width: 97,5%;
    height: 77vh;
    background-image: url("kepek/live.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding: 20px;
}

.hero h1 {
    margin: 0;
    color: white;
    font-size: 4em;
    font-family: 'Libre Franklin', sans-serif;
}
table{
    padding-top: 2px;
}

table tr td img{
    width: 100%;
}

table tr td {
width: 55vw;
}



table{        
     border-collapse: separate;     
      text-indent: initial;     
       border-spacing: 2px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
body{
    background-color: rgb(15, 32, 58);
    margin: 0;
}

img{
    width: 300px;
}

table{
    width: 100%;
margin: 0%;
}

td{
    text-align: center;
}

li{
    list-style-type: none;
}
ul{
    padding: 0;
}

h1 {
    color: rgb(143, 0, 172);
}

    a{
        text-decoration: none;
        
    }
   
}
li a:hover{
    color: purple;
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
}

.inf img{
    height: 500px;
    width: auto;

}

a{
    line-height: 120%;
}

.sslp img{
    height: 403px;
    width: auto;
margin: 0%;
}
.sslp a{
    line-height: 37px;
}
.sslp{
    background-color: rgb(72, 72, 128)
}
.mmlp img{
    height: 403px;
    width: auto;
    margin: 0%;
}
.mmlp a{
    line-height: 37px;
}
.mmlp{
    background-color: rgb(73, 69, 64);
    height: 100%;
    margin: 0%;
}